body {
    grid-template-columns: 321px 1fr 480px;
}

.log{
    background-color: black;
    border-radius: var(--roundness);
    grid-row: 1/3;
    padding: 20px;
    aspect-ratio: 1;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    overflow-y: scroll;
}

.lidar{
    
    aspect-ratio: 1;
}

.remote{
    background-color: white;
    border-radius: var(--roundness);
    padding: 20px;
    aspect-ratio: 1;
}