.cam_sushi {
  background: url("../assets/no_signal.png") center;
  background-size: cover;
  animation: no_signal 10s linear infinite;
  /*hide overflowing child*/
  overflow: hidden;
  border-radius: 40px;
}

#VideoStream {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes no_signal {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 605%;
  }
}
