.map {
  background: url("../assets/playmat_2025_FINAL\ 2.png") no-repeat center;
  background-size: cover;
  aspect-ratio: 3 / 2;
  max-height: calc(100vh - 60px);
  position: relative;
}

.map .rob {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(200px, calc(-100vh / 2 + 30px));
  transition: all 0.5s linear;
  transform-origin: center center !important;
  /*animation: rob 15s linear infinite;*/
}
.map .bad {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(450px, calc(-100vh / 2 + 30px));
  transform-origin: center center !important;
}

.rob,
.bad {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rob img,
.bad img {
  position: absolute;
}

@keyframes bad {
  0% {
    transform: translate(800px, -500px);
  }

  50% {
    transform: translate(1100px, -700px);
  }
}

@keyframes rob {
  0% {
    transform: translate(200px, 500px) rotate(0deg);
  }
  5% {
    transform: translate(200px, 500px) rotate(90deg);
  }
  15% {
    transform: translate(500px, 500px) rotate(90deg);
  }
  25% {
    transform: translate(500px, 500px) rotate(0deg);
  }
  35% {
    transform: translate(500px, 100px) rotate(0deg);
  }
  45% {
    transform: translate(500px, 100px) rotate(150deg);
  }
  60% {
    transform: translate(800px, 500px) rotate(150deg);
  }
  65% {
    transform: translate(800px, 500px) rotate(270deg);
  }
  85% {
    transform: translate(200px, 500px) rotate(270deg);
  }
  100% {
    transform: translate(200px, 500px) rotate(0deg);
  }
}
