.pid{
    width: 400px;
    display: flex;
}

input{
    max-width: 50px;
}

.maki{
    justify-content: space-between;
    background-color: var(--secondary);
    border-radius: var(--roundness);
    font-family: var(--font);
    font-weight: 500;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.maki.active{
    background-color: var(--primary);
    color: white;
    font-family: var(--font);
}

.maki .value{
    background-color: white;
    border-radius: var(--roundness);
    color: black !important;
    padding: 5px 15px;   
}

.sushi div:nth-child(2){
    margin-top: 50px !important;
}

.sushi{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#plus, #minus {
    width: 100%;
    text-align: center;
    background-color: var(--secondary);
    border-radius: var(--roundness);
    margin: inherit;
}

input {
    max-width: unset;
    width: 100%;
    font-size: xx-large;
}