:root {
    --background: #010132;
    --primary: #0232FF;
    --secondary: #B3C2FF;
    --font: Inter;
    --roundness: 40px;
    --inter_layout: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background: var(--background);
    display: grid;
    grid-template-columns: 321px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--inter_layout);
    height: 100vh;
    width: 100vw;
    padding: var(--inter_layout);
}

/* Utils */
.make_center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

/* Component */

.pilule {
    background-color: var(--secondary);
    border-radius: var(--roundness);
    padding: 5px 15px;
    font-family: var(--font);
    font-weight: 500;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: medium !important;
}

.sushi {
    background-color: white;
    border-radius: var(--roundness);
    padding: 20px;
}

/*SideBar*/

.menu {
    background-color: white;
    border-radius: var(--roundness);
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    padding: 20px;
}

.item_menu {
    background-color: var(--secondary);
    border-radius: var(--roundness);
    font-family: var(--font);
    font-weight: 500;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

.item_menu.active {
    background-color: var(--primary);
    color: white;
    font-family: var(--font);

    i.icon {
        background-color: white;
    }
}

.item_menu:hover {
    background-color: var(--primary);
    color: white;
    font-family: var(--font);

    i.icon {
        background-color: white;
    }
}

.row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}