:root{
    --scale: 1.9;
    --border-radius: 15px;
}

.dpad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: min-content;
    width: min-content;
    margin: auto;
}
.dpad > div{
    width: min-content;
}

.button_div{
    display: flex;    
    flex-direction: row-reverse;
}
.button{
    border-radius: 15px;
    padding: 1em;
    margin-left: 1em;
    background-color: var(--secondary);
}

.up div, .down div, .left div, .right div{
    padding-top: calc(9px * var(--scale));
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
}

.up{
    transform: translateY(calc(45px * var(--scale)));
}
.left{
    transform: rotate(-90deg) translateY(calc(10px * var(--scale)));
}
.right{
    transform: rotate(90deg) translateY(calc(10px * var(--scale)));
}
.down{
    transform: rotate(180deg) translateY(calc(45px * var(--scale)));
}
div.square {
    width: calc(50px * var(--scale));
    height: calc(50px * var(--scale));
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    z-index: 10 !important;
}
div.triangle {
    position: relative;
    width : calc(35.3px * var(--scale));
    height: calc(35.3px * var(--scale));
    transform: translateY(calc(-17.5px * var(--scale))) translateX(calc(7.5px * var(--scale))) rotate(45deg);
    border-radius: 0 0 var(--border-radius) 0;
    z-index: 0 !important;
}
.up img{
    z-index: 1 !important;
    transform: translateX(calc(1px * var(--scale))) translateY(calc(4px * var(--scale)));
}
.down img{
    z-index: 1 !important;
    transform: translateX(calc(1px * var(--scale))) translateY(calc(4px * var(--scale)));
}

.left img{
    z-index: 1 !important;
    transform: rotate(90deg) translateX(calc(0px * var(--scale))) translateY(calc(0px * var(--scale))) scaleX(-1)!important;
}
.right img{
    z-index: 1 !important;
    transform: rotate(270deg) translateX(calc(0px * var(--scale))) translateY(calc(0px * var(--scale)))!important;
}
