i.icon{
    background-color: var(--background);
    width: 24px !important;
    height: 24px !important;
    display: block;
}
i.menu_icon{
    mask: url(../icons/home-05.svg) no-repeat center;
}
i.cam_icon{
    mask: url(../icons/camera-01.svg) no-repeat center;
}
i.map_icon{
    mask: url(../icons/map-02.svg) no-repeat center;
}
i.save_icon{
    mask: url(../icons/save-02.svg) no-repeat center;
}
i.eye_icon{
    mask: url(../icons/eye-open.png) no-repeat center;
}
i.compass_icon{
    mask: url(../icons/compass.svg) no-repeat center;
}