:root {
    --primary-color: #095af1;
    --primary-color-dark: #010128;
    --secondary-color: #dddbff;
    --accent-color: #8a10cb;
}

#max_range{
    width: 20%;
    margin-left: 10px;
}
.card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    max-height: 5vh;
}


body {
    height: 100vh;
    margin: 0;
}

.sidebar {
    width: 200px;
    position: fixed;
    height: 100vh;
    background-color: var(--primary-color-dark);
}

img.logo {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.header {
    padding: 1em;
}

.sidebar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .menu ul {
    list-style: none;
    width: 100%;
}

.sidebar .menu ul li {
    color: #fff !important;
    display: flex;
    border-radius: .625rem;
    padding: 1rem 1rem;
    margin: .5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    align-items: center;
}

.sidebar .menu ul li:hover a {
    border-bottom: #fff solid 1px;
}

.sidebar .menu ul li.active {
    background-color: var(--primary-color);

}

.sidebar .menu ul li a {
    color: #fff !important;
    margin-left: 10%;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
}

.body {
    margin-left: 200px;
    padding: 1em;
    min-height: 100vh;
    background-color: var(--secondary-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.container {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#lidar {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}

.console {
    background-color: #000000;
    border-radius: 4px;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    font-family: 'Consolas', sans-serif;
    color: #ffffff;
}


.pin {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #8d8d8d;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    cursor: pointer;
}





