aiohttp==3.11.12
aiosignal==1.3.2
attrs==25.1.0
colorama==0.4.6
crc8==0.2.0
frozenlist==1.5.0
future==1.0.0
idna==3.10
iso8601==2.1.0
loggerplusplus==0.1.5
multidict==6.1.0
numpy==2.2.2
pathfinding==1.0.16
pyserial==3.5
pysicktim==0.0.9
pyusb==1.2.1
PyYAML==6.0.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
shapely==2.0.7
taskbrain==0.1.2
wscomms==0.1.0
yarl==1.18.3
