.map{
    grid-row: 1/3;
    background: url("../assets/977e5042bedcef16bdf8c761ecb301bc.png")  no-repeat center;
    background-size: cover;
}

.map .rob{
    position: relative;
    transform: translate(200px, 500px) rotate(0deg);
    /*animation: rob 15s linear infinite;*/
}
.map .bad{
    position: relative;
    transform: translate(800px, 500px);
    animation: bad 15s linear infinite;
}

.rob, .bad{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rob img, .bad img{
    position: absolute;
}

@keyframes bad {
    0%{
        transform: translate(800px, 500px);
    }    
    50% {
        transform: translate(1100px, 700px);
    }
}


@keyframes rob {
    0% {
        transform: translate(200px, 500px) rotate(0deg);
    }
    5%{
        transform: translate(200px, 500px) rotate(90deg);
    }
    15%{
        transform: translate(500px, 500px) rotate(90deg);
    }
    25%{
        transform: translate(500px, 500px) rotate(0deg);
    }
    35%{
        transform: translate(500px, 100px) rotate(0deg);
    }
    45%{
        transform: translate(500px, 100px) rotate(150deg);
    }
    60%{
        transform: translate(800px, 500px) rotate(150deg);
    }
    65%{
        transform: translate(800px, 500px) rotate(270deg);
    }
    85%{
        transform: translate(200px, 500px) rotate(270deg);
    }
    100%{
        transform: translate(200px, 500px) rotate(0deg);
    }
}